doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    block css
      link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    block script
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")
    

  body
    div(style="font-size: 20px")
      nav.navbar.navbar-light(style="background-color: #e3f2fd;")
        div.container-fluid
          div.navbar-header
            a.navbar-brand(style="font-size: 25px") 
              b 
                FIFA World Cup Shorts
          ul.nav.navbar-nav#home
            li.active
              a(href="/home") Home
          ul.nav.navbar-nav.navbar-right#logintxt
            li#signup
              a(href="/register") Sign Up
                span.glyphicon.glyphicon-user           


      div.container-fluid.text-center    
        div.row.content
          div.col-sm-2.sidenav

          div.col-sm-8.text-left
            div.row(style="margin-bottom: 150px")
              p
            div.row.content
              h2 Enter your Username and Password to sign in.
              form(role='form' method='POST' action=action_url)
                div.form-group
                  label(for='username') Username:
                  input#username.form-control(type='text', placeholder='johnsmith01' name='username')
                div.form-group
                  label(for='password') Password:
                  input#password.form-control(type='password' name='password')
                button.btn.btn-primary(type="submit", name="") Login

          div.col-sm-2.sidenav
      footer.container-fluid.text-center



