// Filename : ./pages/intro.pug
doctype html
html
    head
        title #{title}
        block css
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        block script
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <script src="script.js"></script>
    div.col-sm-8.text-left
      div.row
      // VIDEO ELEMENT
        div.col-sm-4
        div.panel.panel-primary
        div.panel-heading VIDEO
        div.panel-body
        img(src="https://placehold.it/150x80?text=VIDEO", class="img-responsive", style="width:100%", alt="Image")
        div.panel-footer CAPTION
      // END VIDEO