doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		block css
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
		block script
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")

		script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")


	body
		div(style="font-size: 20px")
			nav.navbar.navbar-light(style="background-color: #e3f2fd;")
				div.container-fluid
					div.navbar-header
						a.navbar-brand(style="font-size: 25px") 
							b 
								FIFA World Cup Shorts
					ul.nav.navbar-nav#home
						li.active
							a(href="/home*") Home
					ul.nav.navbar-nav.navbar-right#logintxt              
						li#upload
							a(href="/upload") Upload Video 
								span.glyphicon.glyphicon-facetime-video
						li#logout
							a(href="/home") Log Out 
								span.glyphicon.glyphicon-log-out

		div.container-fluid.text-center    
			div.row.content
				div.col-sm-2.sidenav(style="margin-right: 15%")

				div.col-sm-8.text-left
					div.row#database
						each item in database
							div.col-sm-4
							  div.panel.panel-primary
							    div.panel-heading= item.Title 
							    div.panel-body
							    - const videoID = item.Link
							    -const baseUrl = 'https://www.youtube.com/embed/'
							      iframe(width="451" height="801" src=baseUrl + videoId frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)
						

				div.col-sm-2.sidenav(style="margin-left: 15%")
		footer.container-fluid.text-center