doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		block css
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
		block script
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")

		script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")


	body
		div(style="font-size: 20px")
			nav.navbar.navbar-light(style="background-color: #e3f2fd;")
				div.container-fluid
					div.navbar-header
						a.navbar-brand(style="font-size: 25px") 
							b 
								FIFA World Cup Shorts
					ul.nav.navbar-nav#home
						li.active
							a(href="/home*") Home
					ul.nav.navbar-nav.navbar-right#logintxt              
						li#logout
							a(href="/home") Log Out 
								span.glyphicon.glyphicon-log-out

		div.container-fluid.text-center    
			div.row.content
				div.col-sm-2.sidenav

				div.col-sm-8.text-left
					div.row(style="margin-bottom: 150px")
						p
					div.row.content
						h2 Enter the link of the video to upload.
						form.form-horizontal(role='form' method='POST' action=action_url)
							div.form-group
								label(for="title") Video Title:
								input.form-control(type="title", id="title", placeholder="Enter title", name="title")
							div.form-group
								label.control-label.col-sm-2(for="link") www.youtube.com/shorts/
								div.col-sm-10
									input.form-control(type="link", id="link", placeholder="jdLtXYJ9b7k", name="link")
							div.form-group
								div.col-sm-offset-2.col-sm-10
							button.btn.btn-primary.btn-lg(type="submit") Submit


				div.col-sm-2.sidenav
		footer.container-fluid.text-center